.article1line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article1line1:hover {
  color: green;
}
.samsungs9image{
  margin-left: 6cm;
}
.writing2 {
  margin-top: 40px;
}
.article1line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article1line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.article2line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}

.samsungsa20image {
  margin-left: 6cm;
}
.article2line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article2line1:hover {
  color: green;
}
.article2line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.article2line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.huaweip30pro{
  margin-left: 6cm;
}
.writing3 {
  margin-top: 40px;
}
.article3line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article3line1:hover {
  color: green;
}
.article3line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article3line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.oneplus6t{
  margin-left: 6cm;
}
.writing4 {
  margin-top: 40px;
}
.article4line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article4line1:hover {
  color: green;
}
.article4line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article4line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.xiomilogo {
  margin-left: 6cm;
}
.writing5 {
  margin-top: 40px;
}
.article5line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article5line1:hover {
  color: green;
}
.article5line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article5line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
#nextbutton{
  margin-top: 50px;
  margin-left: 10cm;
}

.asusroglaptop {
  margin-left: 6cm;
}
.writing6 {
  margin-top: 40px;
}
.article6line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article6line1:hover {
  color: green;
}
.article6line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article6line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.huaweimatebook{
  margin-left: 6cm;
}
.writing7 {
  margin-top: 40px;
}
.article7line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article7line1:hover {
  color: green;
}
.article7line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article7line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.acerchromobase{
  margin-left: 6cm;
}
.writing8 {
  margin-top: 40px;
}
.article8line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article8line1:hover {
  color: green;
}
.article8line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article8line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.asuszenbook{
  margin-left: 6cm;
}
.writing9 {
  margin-top: 40px;
}
.article9line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article9line1:hover {
  color: green;
}
.article9line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article9line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 60px;
  margin-right: 100px;
}
.asustuf{
  margin-left: 6cm;
}
.writing10 {
  margin-top: 40px;
}
.article10line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article10line1:hover {
  color: green;
}
.article10line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article10line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.greyregion1{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext1{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article1header1{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description1article1{
  margin-left: 3cm;
}
.samsungs9image11{
  margin-left: 1cm;
  float: left;
}
.centertextar1{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.greyregion2{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext2{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article2header2{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description2article2{
  margin-left: 3cm;
}
.samsungsa20image22{
  margin-left: -1cm;
  float: left;
}
.centertextar2{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.pushedtext2{
  margin-left: 10cm;
}
.greyregion3{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext3{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article3header3{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description3article3{
  margin-left: 3cm;
}
.huaweip30pro33{
  margin-left: 1cm;
  float: left;
}
.centertextar3{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.greyregion4{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext4{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article4header4{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description4article4{
  margin-left: 3cm;
}
.oneplus6t44{
  margin-left: 1cm;
  float: left;
}
.centertextar4{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.greyregion5{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext5{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article5header5{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description5article5{
  margin-left: 3cm;
}
.xiomilogo55{
  margin-left: 1cm;
  float: left;
}
.centertextar5{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.pushedtext5{
  margin-left: 10cm;
}
.greyregion6{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext6{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article6header6{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description6article6{
  margin-left: 3cm;
}
.asusroglaptop66{
  margin-left: 1cm;
  float: left;
}
.centertextar6{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.pushedtext6{
  margin-left: 10cm;
}
.greyregion7{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext7{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article7header7{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description7article7{
  margin-left: 3cm;
}
.huaweimatebook77{
  margin-left: 1cm;
  float: left;
}
.centertextar7{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.greyregion8{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext8{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article8header8{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description8article8{
  margin-left: 3cm;
}
.acerchromobase88{
  margin-left: 1cm;
  float: left;
}
.centertextar8{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.greyregion9{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext9{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article9header9{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description9article9{
  margin-left: 3cm;
}
.asuszenbook99{
  margin-left: 1cm;
  float: left;
}
.centertextar9{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
.greyregion10{
  background-color: #EAEDED;
  height: 25px;
}
.greyregiontext10{
  font-size: 12px;
  margin-left: 6cm;
  vertical-align: baseline;
  color: #707B7C;
  font-family: inherit;
}
.article10header10{
  font-size: 1cm;
  font-weight: bold;
  margin-left: 3cm;
}
.description10article10{
  margin-left: 3cm;
}
.asustuf000{
  margin-left: 1cm;
  float: left;
}
.centertextar10{
  color: #515A5A;
  font-family: "proxima-semibold","sans-serif";
  font-size: 15px;
  width: 20cm;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
  letter-spacing: 0.4;
}
