.article1 {
  height: 50px;
}
.samsungs9image {
  float: left;
  margin-top: -20px;
}
.header1{
  font-weight: bold;
  font-size: 25px;
  height: 1.5cm;
}
.writing1 {
  margin-top: 40px;
  margin-left: 3.8cm;
}
.article1line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article1line1:hover {
  color: green;
}
.article1line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.samsungsa20image {
  float: left;
  margin-top: -10px;
}
.writing2 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article2line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article2line1:hover {
  color: green;
}
.article2line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.huaweip30pro{
  float: left;
  margin-top: -20px;
}
.writing3 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article3line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article3line1:hover {
  color: green;
}
.article3line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.oneplus6t{
  float: left;
  margin-top: -20px;
}
.writing4 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article4line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article4line1:hover {
  color: green;
}
.article4line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.xiomilogo {
  float: left;
  margin-top: -20px;
}
.writing4 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article5line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article5line1:hover {
  color: green;
}
.article5line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
#nextbutton{
  margin-top: 50px;
  margin-left: 10cm;
}
.article6 {
  height: 50px;
}
.asusroglaptop {
  float: left;
  margin-top: -20px;
}
.writing6 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article6line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article6line1:hover {
  color: green;
}
.article6line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
