.article1line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article1line1:hover {
  color: green;
}
.samsungs9image{
  margin-left: 6cm;
}
.writing2 {
  margin-top: 40px;
}
.article1line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article1line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.article2line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}

.samsungsa20image {
  margin-left: 6cm;
}
.article2line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article2line1:hover {
  color: green;
}
.article2line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.article2line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.huaweip30pro{
  margin-left: 6cm;
}
.writing3 {
  margin-top: 40px;
}
.article3line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article3line1:hover {
  color: green;
}
.article3line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article3line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.oneplus6t{
  margin-left: 6cm;
}
.writing4 {
  margin-top: 40px;
}
.article4line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article4line1:hover {
  color: green;
}
.article4line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article4line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.xiomilogo {
  margin-left: 6cm;
}
.writing5 {
  margin-top: 40px;
}
.article5line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article5line1:hover {
  color: green;
}
.article5line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article5line2{
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
#nextbutton{
  margin-top: 50px;
  margin-left: 10cm;
}

.asusroglaptop {
  margin-left: 6cm;
}
.writing6 {
  margin-top: 40px;
}
.article6line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article6line1:hover {
  color: green;
}
.article6line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article6line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.huaweimatebook{
  margin-left: 6cm;
}
.writing7 {
  margin-top: 40px;
}
.article7line1{
  font-size: 40px;
  font-weight: bold;
  margin-left: 3cm;
}
.article7line1:hover {
  color: green;
}
.article7line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
  margin-left: 7cm;
}
.article7line2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  display: block;
  margin-left: 100px;
  margin-right: 100px;
}
.acerchromobase{
  float: left;
  margin-top: -20px;
}
.writing8 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article8line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article8line1:hover {
  color: green;
}
.article8line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
.asuszenbook{
  margin-top: -20px;
  float: left;
}
.writing9 {
  margin-left: 3.8cm;
  margin-top: 100px;
}
.article9line1{
  font-family: sans-serif;
  font-size: 0.65cm;
  line-height: 17px;
}
.article9line1:hover {
  color: green;
}
.article9line3{
  letter-spacing: 2px;
  font-size: 11px;
  line-height: 12px;
}
